@mixin startingPage {
	&__startingPage {
		background-color: burlywood;
		display: flex;
		flex-direction: column;
		padding: 20px;
		min-height: 165px;
		&__input {
			min-height: 30px;
			text-align: center;
			border-radius: 5px;
			border: none;
			margin-bottom: 5px;
			font-size: 20px;
		}
		&__errorMsg {
			margin-bottom: 5px;
			font-size: 16px;
			font-style: italic;
			color: red;
		}
		&__fetchBtn {
			margin: 0 auto 5px auto;
			width: 30%;
			border-radius: 5px;
			border: none;
		}
		&__tempUnitHeading {
			margin-bottom: 5px;
			height: 20px;
		}
		&__unitsBtns {
			display: flex;
			justify-content: space-around;
			height: 20px;
			&__btn {
				width: 30%;
				border-radius: 5px;
				border: none;
			}
		}
		&__clearUnitBtn {
			height: 45px;
			button {
				padding: 3px;
				border-radius: 5px;
				border: none;
			}
		}

		&__clearBtn {
			border-radius: 5px;
			border: none;
		}
	}
}
